In [1]:
import pandas as pd

In [18]:
recipe_df = pd.read_excel("./semiconductor_data.xlsx", sheet_name=0)

In [20]:
status_df = pd.read_excel("./semiconductor_data.xlsx", sheet_name=1)

In [25]:
recipe_df[recipe_df.EQP_ID == 'EQP002']

    EQP_ID RECIPE  PROCESS_TIME
10  EQP002  X1000            80
11  EQP002  Y2000           140
12  EQP002  Z3000            80
13  EQP002  X4000           140
14  EQP002  Y5000           150
15  EQP002  Z6000           140
16  EQP002  X7000           100
17  EQP002  Y8000           120
18  EQP002  Z9000           110
19  EQP002  X0000           150

In [26]:
recipe_df[recipe_df.EQP_ID == 'EQP001']

   EQP_ID RECIPE  PROCESS_TIME
0  EQP001  X1000            80
1  EQP001  Y2000           140
2  EQP001  Z3000            80
3  EQP001  X4000           120
4  EQP001  Y5000           130
5  EQP001  Z6000           100
6  EQP001  X7000           130
7  EQP001  Y8000           100
8  EQP001  Z9000           150
9  EQP001  X0000           120

In [30]:
status_df.iloc[0]["EQP_ID"]

'EQP001'

In [31]:
recipe_df[recipe_df.EQP_ID == status_df.iloc[0]["EQP_ID"]]

   EQP_ID RECIPE  PROCESS_TIME
0  EQP001  X1000            80
1  EQP001  Y2000           140
2  EQP001  Z3000            80
3  EQP001  X4000           120
4  EQP001  Y5000           130
5  EQP001  Z6000           100
6  EQP001  X7000           130
7  EQP001  Y8000           100
8  EQP001  Z9000           150
9  EQP001  X0000           120